<template>
  <div class="row">
    <div class="col-12 markdown">
      <vue-markdown>
        {{ doc.content }}
      </vue-markdown>
    </div>
  </div>
</template>

<script>
export default {
  components: {
    VueMarkdown: () => import("vue-markdown"),
  },
  data: () => ({
    doc: null,
  }),
  methods: {
    async getDoc() {
      const doc = await this.$axios.get(`${this.$api}/doc`);
      this.doc = doc.data;
    },
  },
  async mounted(){
      await this.getDoc();
  }
};
</script>

<style lang="scss">
.markdown {
    img {
        width: 100%;
    }
}
</style>